html {
	scroll-behavior: smooth;
}

* {
	font-family: 'Azeret Mono', monospace;
}

#loading {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	background-color: #fff;
	z-index: 99;
	text-align: center;
  }
  
  #loading-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
  }

.title {
	font-family: 'Montserrat', sans-serif;
	font-size: 12rem;
	font-weight: 900;
	color: black;
}

.header {
	display: flow-root;
	margin-top: 2rem;
}

.color-red {
	color: red;
}

.subheader {
	padding-top: 2rem;
	color: black;
	text-align: right;

}

.subheader h1{
	font-weight: 600;
	font-size: 2rem;
}

.subheader p {
	color: black;
	display: block;
	font-weight: 200;
	transition: transform 0.2s ease-in-out;
}

.subheader p:hover {
	transform: translate(-10px);
	color:black;
}

.subheader p:hover::after{
	content:"";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0em;
    border-top: 1px solid red;
    z-index: -1;
    width: 20rem;
}

.menuButton {
	font-weight: 600;
	font-size: 2rem;
	float: right;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.menuButton:hover {
	color: red;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255, 1);
	overflow: hidden;
	transition: 0.2s ease-in-out;
}

.overlay-content {
	font-family: 'Azeret Mono', monospace;
	position: relative;
	right: 3.4%;
	top: 8%;
	width: 100%;
	height: 100%;
	text-align: right;
	margin-top: 30px;
	text-decoration: underline;
}

.socials {
	display: inline-flex;
	display: -webkit-inline-box;
	font-size: 2rem;
	position: relative;
	bottom: 8rem;
	left: 3.4%;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 2rem;
	color: black;
	display: block;
	transition: 0.3s ease-in-out;
}

.overlay a:hover, .overlay a:focus {
	color: red;
}

.overlay .closebtn {
	position: absolute;
	top: -0.9%;
	right: 3.4%;
	font-size: 3.5rem;
}

.noscroll {
	position: fixed;
	overflow: hidden;
}
  

#facebookSocialBtn:hover, #facebookSocialBtn:active {
	color: #1877f2;
}

#instagramSocialBtn:hover, #instagramSocialBtn:active {
	color: #c32aa3;
}	

#behanceSocialBtn:hover, #behanceSocialBtn:active {
	color: #053eff;
}

#soundcloudSocialBtn:hover, #soundcloudSocialBtn:active{
	color: #ff5500;
}

#youtubeSocialBtn:hover, #youtubeSocialBtn:active {
	color: #ff0000;
}

#mixcloudSocialBtn:hover, #mixcloudSocialBt:active {
	color: #52aad8;
}

#linkedinSocialBtn:hover, #linkedinSocialBtn:active {
	color: #0077b5;
}


.subtitle {
	font-weight: 700;
	font-size: 1.5rem;
	padding-top: 2rem;
}

.main {
	margin-bottom: 2%;
}

.justifyText {
	text-align: justify;
}

.gallery {
	padding: 2rem 0 1rem 0;
	display: grid;
	grid-template-columns: repeat(3, 80%);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow-x: scroll;
	height: 50vh;
	scroll-padding: 1rem;
}

/*.active {
	scroll-snap-type: unset;
}*/

.gallery a {
	/*scroll-snap-align: center;*/
	display: inline-block;
	border-radius: 3px;
	font-size: 0;
}

.gallery a li {
	background-size: cover; 
	background-position: center;
	height: 100%;
	width: auto;
}

.paddingTop {
	padding-top: 2rem;
}

.paddingBottom {
	padding-bottom: 2rem;
}

.grid-item {
	transition: 0.2s ease-in-out;
	width: calc(100% / 3.03);
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%);
}
.grid-item:hover {
	-webkit-filter: none;
	filter: none;
}

.grid-item img {
	width: 100%;
}

.showProjects {
	color: black;
	width: 100%;
	text-align: center; 
	padding: 1rem; 
	border: 1px solid black;
	transition: 0.3s ease-in-out;
}

.viewMore {
	color: black;
	width: 50%;
	text-align: center; 
	float: right;
	padding: 1rem; 
	border: 1px solid black;
	transition: 0.3s ease-in-out;
}

.viewMore:hover, .showProjects:hover {
	border: 1px solid black;
	color: white;
	background-color: black;
}

.footer {
	font-size: 1.2rem;
	height: 20vh;
	width: 100%;
	background-color: black;
	color: white;
	padding: 2rem 0 2rem 0;
}

.footerContent {
	max-width: 1344px;
	margin: 0 auto;
	display: flow-root;
	height: 100%;
}

.rightFooter {
	text-align: right;
	margin-top:auto;
}

.socialsFooter {
	color: white;
	font-size: 1.5rem;
	padding: 0 0 1rem 0;
	bottom: 8rem;
}

.socialsFooter a {
	color: white;
}

.footerColumn {
	padding: 0;
}

/*@media all and (orientation: portrait)  {
	.subheader {
		text-align: left;
	}
}*/

@media screen and (max-width: 1410px)  {
	.grid-item {
		width: calc(100% / 3.05);
		-webkit-filter: none;
		filter: none;
	}

	.footer {
		/*padding: 3rem 2rem 3rem 2rem;*/
	}
}

@media screen and (max-width: 800px)  {

	/*.overlay a {font-size: 20px}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}*/

	.webNavigation {
		display: none;
	} 

	.mobileNavigation {
		display: block;
	}

	.titleParent {
		display: none;
	}
	.subheader {
		padding-top: 0;
		text-align: left;
	}

	.subheader h1{
		float: left;
	}

	.container {
		padding: 0 2rem 2rem 2rem;
	}

	.gallery {
		height: 30vh;
		grid-template-columns: repeat(3, 80%);
		scroll-padding: 2rem;
	}

	.grid-item {
		width: calc(100% / 2.05);
	}

	.footer {
		display: table;
		font-size: 1rem;
		width: 100%;
		background-color: black;
		color: white;
	}

	.rightFooter {
		text-align: left;
		margin-top: 2rem;
	}

	@media all and (orientation: landscape)  {

		.overlay {
			overflow-y: visible;
		}

		.overlay-content {
			padding-top: 5%;
		}

		.socials {
			font-size: 2rem;
			position: relative;
			bottom: -20%;
			left: 3.4%;
		}

		.gallery {
			height: 80vh;
			grid-template-columns: repeat(3, 80%);
			scroll-padding: 2rem;
		}
	}
}

@media screen and (min-width: 800px)  {

	.webNavigation {
		display: block;
	} 

	.mobileNavigation {
		display: none;
	}
}